<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ius Meta</title>
    <link rel="stylesheet" href="../css/components/navbar.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/components/footer.css" />
    <link rel="stylesheet" href="../css/about.css" />

    <style>
      .admin-detail {
        width: 100%;
        padding: 100px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
      }

      .container img {
        width: 160px;
        height: 160px;
        border-radius: 50%;
      }

      .adminPosts {
        padding: 0px 100px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        margin-bottom: 100px;
      }

      .articleShowcase {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 10px;
      }

      .articleShowcase img {
        width: 240px;
        height: 160px;
      }

      @media only screen and (max-width: 600px) {
        .admin-detail {
          padding: 10px;
        }

        .adminPosts {
          justify-content: center;
        }

        .articleShowcase {
          width: 100%;
        }

        .articleShowcase a {
          width: 100%;
        }

        .adminPosts {
          padding: 0px;
        }

        .articleShowcase img {
          width: 100%;
          height: 250px;
        }

        .yazarin_icerikleri_yazisi {
          margin: 100px 0px;
          padding: 0px;
        }

        hr {
          border-top: 3px solid black;
          width: 100%;
        }
      }
    </style>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <div class="container">
      <div class="admin-detail">
        <div class="admin-image">
          <img src="../images/<%= admin.image %>" alt="" />
        </div>
        <p style="color: black; text-align: center"><%= admin.cv %></p>
      </div>
    </div>

    <h3
      class="yazarin_icerikleri_yazisi"
      style="font-size: 36px; padding: 0px 100px; margin: 50px"
      for=""
    >
      Yazarın İçerikleri
    </h3>
    <div class="adminPosts">
      <% contents.forEach(content => { %>
      <div class="articleShowcase">
        <a href="/contents/<%= content._id %>">
          <img src="<%= content.image %>" alt=""
        /></a>
        <a href="/contents/<%= content._id %>">
          <h3><%= content.title %></h3></a
        >
      </div>
      <hr />
      <% }) %>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>
