<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1640099499734645"
      crossorigin="anonymous"
    ></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="css/components/navbar.css" />
    <link rel="stylesheet" href="css/components/footer.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/about.css" />
    <link rel="stylesheet" href="css/content.css" />
    <title>İçerikler</title>
  </head>
  <body>
    <%- include('partials/navbar') %>

    <div class="content-filters">
      <form action="/contents" method="POST">
        <label for="kategoriler">Türler</label>
        <br />
        <select name="categories" id="categories">
          <option name="hepsi" value="hepsi">Hepsi</option>
          <option name="makale" value="Makale">Makale</option>
          <option name="roportaj" value="Röportaj">Röportaj</option>
          <option name="podcast" value="Podcast">Podcast</option>
          <option name="haber" value="Haber">Haberler</option>
        </select>
        <button type="submit">Filtrele</button>
      </form>
    </div>
    <div
      style="
        display: flex;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        padding: 50px;
      "
      class="content-area"
    >
      <% contents.forEach(content => { %>
      <a href="/contents/<%= content._id %>"
        ><li class="glide__slide">
          <div class="blog-card">
            <div class="blog-card-image">
              <img src="<%= content.image %>" alt="" />
            </div>
            <div class="blog-card-content">
              <div class="blog-card-category">
                <p><%= content.categories %></p>
              </div>
              <span class="blog-card-title"><%= content.title %></span>
              <p class="blog-card-text"><%- content.summarize %></p>
            </div>

            <div class="blog-card-author"><%= content.author %></div>
          </div>
        </li></a
      >
      <% }) %>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
