<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="google-adsense-account" content="ca-pub-1640099499734645" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ius Meta</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.6.0/css/glide.core.min.css"
    />

    <link rel="stylesheet" href="css/components/navbar.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/components/footer.css" />
  </head>
  <body>
    <%- include('partials/navbar') %>
    <br />
    <br /><br /><br />
    <section class="top-slider">
      <div class="glide">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            <a href="/contents/<%=lastPhoto._id  %>">
              <li class="glide__slide">
                <img src="<%= lastPhoto.image %>" alt="" /></li
            ></a>
            <a href="/contents/<%=lastPhoto2._id  %>">
              <li class="glide__slide">
                <img src="<%= lastPhoto2.image %>" alt="" /></li
            ></a>
            <a href="/contents/<%=lastPhoto3._id  %>">
              <li class="glide__slide">
                <img src="<%= lastPhoto3.image %>" alt="" /></li
            ></a>
          </ul>
        </div>
      </div>
    </section>

    <section class="landing-text">
      <img src="/images/black_logo.png" alt="" class="logo" />
      <h1 class="top-text">BİLİŞİM ve Hukukun Ortak Paydası</h1>
      <h3>"Ius Meta</h3>
      <h3>Bilişim ve Hukuk Alanlarındaki</h3>
      <h3>Tüm Argümanların Bir Araya</h3>
      <h3>Getirildiği Platformdur"</h3>
    </section>

    <div class="datas-landing" id="datas-landing">
      <div class="counter">
        <div style="display: flex">
          <p id="sayac1">0</p>
          <span>+</span>
        </div>
        <span>Yazar</span>
      </div>
      <div class="counter">
        <div style="display: flex">
          <p id="sayac2">0</p>
          <span>+</span>
        </div>
        <span>İçerik</span>
      </div>
    </div>

    <label class="ius-meta-blog-label">IUS META BLOG</label>

    <section class="ius-meta-blog-section">
      <div class="glide carousel-glide">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            <% contents.forEach(content => { %>
            <a href="/contents/<%= content._id %>"
              ><li class="glide__slide">
                <div class="blog-card">
                  <div class="blog-card-image">
                    <img src="<%= content.image %>" alt="" />
                  </div>
                  <div class="blog-card-content">
                    <div class="blog-card-category">
                      <p><%= content.categories %></p>
                    </div>
                    <span class="blog-card-title"><%= content.title %></span>
                    <p class="blog-card-text"><%- content.summarize %></p>
                  </div>

                  <div class="blog-card-author"><%= content.author %></div>
                </div>
              </li></a
            >
            <% }) %>
          </ul>
        </div>
      </div>

      <div class="glide carousel-mobile-glide">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            <% contents.forEach(content => { %>
            <a href="/contents/<%= content._id %>"
              ><li class="glide__slide">
                <div class="blog-card">
                  <div class="blog-card-image">
                    <img src="<%= content.image %>" alt="" />
                  </div>
                  <div class="blog-card-content">
                    <div class="blog-card-category">
                      <p><%= content.categories %></p>
                    </div>
                    <span class="blog-card-title"><%= content.title %></span>
                    <p class="blog-card-text"><%- content.summarize %></p>
                  </div>

                  <div class="blog-card-author"><%= content.author %></div>
                </div>
              </li></a
            >
            <% }) %>
          </ul>
        </div>
      </div>
    </section>

    <%- include('partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
    <script src="/js/glide.js"></script>
    <script src="/js/page_dynamic.js"></script>
  </body>
</html>
